HTML {
	FONT-SIZE: 100%
}
THEAD {
	FONT-SIZE: 100%
}
TBODY {
	FONT-SIZE: 100%
}
TFOOT {
	FONT-SIZE: 100%
}
BODY {
	FONT-SIZE: 75%
}
TD {
	FONT-SIZE: 75%
}
TH {
	FONT-SIZE: 75%
}
UL.topicarrow {
	FONT-SIZE: 93%
}
#scinatglobalfooter A {
	FONT-SIZE: 80%
}
#scinatglobalfooter A:hover {
	FONT-SIZE: 80%
}
#scinatglobalfooter SPAN {
	FONT-SIZE: 80%
}
.navcontainer A {
	FONT-SIZE: 93%
}
DIV.scinatlocalcrumb {
	FONT-SIZE: 78%
}
.leftnavheader {
	FONT-SIZE: 80%
}
.leftnavheader P {
	FONT-SIZE: 80%
}
.topictext {
	FONT-SIZE: 92%
}
#lhncontainer SPAN {
	DISPLAY: block
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.rhndeschome {
	WIDTH: 216px
}
.homepagebanner {
	FONT-SIZE: 60%
}
BODY {
	FONT-FAMILY: verdana, Geneva, arial, helvetica, sans-serif
}
TD {
	FONT-FAMILY: verdana, Geneva, arial, helvetica, sans-serif
}
#scinatglobalfooter A {
	FONT-WEIGHT: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
#scinatglobalfooter A:hover {
	FONT-WEIGHT: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
#scinatglobalfooter SPAN {
	FONT-WEIGHT: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
.frontTopLeftTD {
	FONT-SIZE: 0.6em; COLOR: #999999
}
.navcontainer A {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 4px; TEXT-DECORATION: none; voice-family: inherit
}
.navcontainer A:hover {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 7px; DISPLAY: block; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; COLOR: #000000; PADDING-TOP: 4px; TEXT-DECORATION: none; voice-family: inherit
}
.navcontainer {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navcontainer A {
	TEXT-ALIGN: center; TEXT-DECORATION: none
}
.navcontainer A:hover {
	TEXT-ALIGN: center; TEXT-DECORATION: none
}
.sciNatGlobalNav {
	FONT-SIZE: 60%
}
A.firstGlobalNavItem {
	
}
#lhncontainer SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#lhncontainer A {
	DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; TEXT-DECORATION: none
}
#lhncontainer A:hover {
	DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; TEXT-DECORATION: none
}
#lhnlevel3container {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#lhnlevel3container SPAN {
	
}
#lhnlevel3container A {
	DISPLAY: block; PADDING-LEFT: 16px; MARGIN-LEFT: 0px; TEXT-DECORATION: none
}
#lhnlevel3container A:hover {
	DISPLAY: block; PADDING-LEFT: 16px; MARGIN-LEFT: 0px; TEXT-DECORATION: none
}
#lhncontainer A.level3 {
	PADDING-LEFT: 16px; TEXT-DECORATION: none
}
#lhncontainer A.level3:hover {
	PADDING-LEFT: 16px; TEXT-DECORATION: none
}
#lhnlevel4container {
	
}
#lhnlevel4container SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#lhnlevel4container A {
	DISPLAY: block; PADDING-LEFT: 24px; TEXT-DECORATION: none
}
#lhnlevel4container A:hover {
	DISPLAY: block; PADDING-LEFT: 24px; TEXT-DECORATION: none
}
#lhncontainer A.level4 {
	PADDING-LEFT: 24px; TEXT-DECORATION: none
}
#lhncontainer A.level4:hover {
	PADDING-LEFT: 24px; TEXT-DECORATION: none
}
#scinatcrumb {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; BORDER-LEFT: #000000 0px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #000000 0px solid
}
#scinatcrumb SPAN {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px
}
#scinatcrumb A {
	TEXT-DECORATION: underline
}
#scinatfooter {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 0px solid; TEXT-ALIGN: left
}
#scinatfooter TH {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px
}
#scinatfooter TD {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px
}
#scinatfooter A {
	TEXT-DECORATION: underline
}
TABLE #scinatfooter {
	MARGIN-TOP: 10px; MARGIN-LEFT: 10px; WIDTH: 100%
}
.scinatarticlepara FONT {
	FONT-SIZE: 100%
}
.smallpromoheader {
	FONT-WEIGHT: bold; MARGIN: 2px 0px 5px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.smallpromoheader A {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.smallpromoheader A:visited {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.smallpromoheader A:hover {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.smallpromo {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.smallpromo A {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromo A:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromo A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromo2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.smallpromo2 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromo2 A:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromo2 A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromopic {
	PADDING-RIGHT: 5px; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.smallpromopic A {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromopic A:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.smallpromopic A:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.bigpromotitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.bigpromotitle A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.bigpromo {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.bigpromo A {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.bigpromo A:hover {
	TEXT-DECORATION: underline
}
.bigpromolink A {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.bigpromolink A:hover {
	TEXT-DECORATION: underline
}
.artheader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.artheader P {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.arttext {
	FONT-SIZE: 80%; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.arttext A {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.arttext A:visited {
	TEXT-DECORATION: underline
}
.leftnavheader {
	MARGIN-TOP: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-TOP: 5px; FONT-FAMILY: ariel, verdana, sans-serif
}
.leftnavheader P {
	MARGIN-TOP: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-TOP: 5px; FONT-FAMILY: ariel, verdana, sans-serif
}
.scinatlocalcrumb {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; FONT-FAMILY: verdana, ariel, sans-serif
}
.leftnavheader A {
	TEXT-DECORATION: none
}
.leftnavheader A:hover {
	TEXT-DECORATION: underline
}
.textpromoheader {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0px; FONT-FAMILY: arial, verdana, sans-serif
}
.textpromoheader A {
	TEXT-DECORATION: underline
}
.textpromoheader A:visited {
	TEXT-DECORATION: underline
}
.textpromoheader A:hover {
	TEXT-DECORATION: underline
}
.textpromo {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicheader {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicheader P {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicheader A {
	TEXT-DECORATION: none
}
.topicheader A:hover {
	TEXT-DECORATION: underline
}
.topictext {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topictext A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.topictext A:visited {
	TEXT-DECORATION: none
}
.topictext A:hover {
	TEXT-DECORATION: underline
}
UL.topicarrow A B {
	TEXT-DECORATION: underline
}
.pagetitle {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.homepagetitle {
	FONT-WEIGHT: bold; MARGIN-LEFT: 10px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.strapline {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrowtext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -6px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrowtext A {
	TEXT-DECORATION: none
}
.topicarrowtext A:visited {
	TEXT-DECORATION: none
}
.topicarrowtext A:hover {
	TEXT-DECORATION: underline
}
.topicarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrow UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrow A {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.topicarrow A:visited {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.topicarrow A:hover {
	TEXT-DECORATION: underline
}
.topicarrowspacetext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -6px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrowspacetext A {
	TEXT-DECORATION: none
}
.topicarrowspacetext A:visited {
	TEXT-DECORATION: none
}
.topicarrowspacetext A:hover {
	TEXT-DECORATION: underline
}
.topicarrowspace {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrowspace UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
.topicarrowspace A {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.topicarrowspace A:visited {
	FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.topicarrowspace A:hover {
	TEXT-DECORATION: underline
}
.underline {
	TEXT-DECORATION: underline
}
.underline A {
	TEXT-DECORATION: underline
}
.underline A:visited {
	TEXT-DECORATION: underline
}
.underline A:hover {
	TEXT-DECORATION: none
}
.contentlist {
	FONT-SIZE: 110%
}
.contentlist UL {
	FONT-SIZE: 110%
}
.contenttext A {
	TEXT-DECORATION: none
}
.contenttext A:hover {
	TEXT-DECORATION: underline
}
.contenttext A:visited {
	TEXT-DECORATION: none
}
.contenttext A:hover {
	TEXT-DECORATION: underline
}
.promoarrow A {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; TEXT-DECORATION: underline
}
.promoarrow UL {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; TEXT-DECORATION: underline
}
.hptitles {
	PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Verdana, Geneva, arial, helvetica, sans-serif
}
BODY {
	BACKGROUND-POSITION: left 50%
}
BODY.popup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.popupimage IMG {
	MARGIN: 4px
}
.toptabs {
	BACKGROUND-POSITION: left 50%; FONT-WEIGHT: bold
}
DIV.relatedlinks {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.relatedlinksindex {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.relatedlinks1 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
DIV.relatedlinks1 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.relatedlinks1home {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
DIV.relatedlinks1home A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.relatedlinks2 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
DIV.relatedlinks2 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.relatedlinks3 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
DIV.relatedlinks3 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.relatedlinks4 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
DIV.relatedlinks4 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.related:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.related:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.related:active {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.related {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.related:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.further:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.further:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.further:active {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.further {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.further:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.rhn {
	
}
.rhntop {
	
}
DIV.rhnblock {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; MARGIN-TOP: 8px; BORDER-LEFT: 2px solid; WIDTH: 154px; BORDER-BOTTOM: 2px solid
}
.rhntitle {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 10px
}
.rhntitleindex {
	FONT-SIZE: 100%; MARGIN: 0px
}
.rhndesc {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 6px; WIDTH: 134px; PADDING-TOP: 4px
}
DIV.bullet IMG {
	FLOAT: left; MARGIN: 4px 3px 0px 0px
}
DIV.bullet DIV {
	FLOAT: left; WIDTH: 132px
}
DIV.bullet {
	CLEAR: both; MARGIN: 0px; WIDTH: 144px
}
DIV.rhnblockhome {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 8px; BORDER-LEFT: 1px solid; WIDTH: 241px; BORDER-BOTTOM: 1px solid
}
DIV.rhnblocktop {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 8px; BORDER-LEFT: 1px solid; WIDTH: 241px; BORDER-BOTTOM: 1px solid
}
.bullethomegif {
	FLOAT: left; MARGIN: 4px 6px 0px 0px
}
DIV.bullethome {
	MARGIN: 0px 0px 17px 1px; WIDTH: 232px
}
.rhndeschome {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 232px; PADDING-TOP: 0px
}
.rhnimghome {
	MARGIN: 0px 0px 0px 9px
}
.rhnheading {
	MARGIN-BOTTOM: 5px
}
.rhntext {
	FONT-WEIGHT: normal; FONT-SIZE: 70%
}
.rhnimg {
	BORDER-RIGHT: #e6e5e5 1px solid; BORDER-TOP: #e6e5e5 1px solid; FLOAT: right; MARGIN-LEFT: 9px; BORDER-LEFT: #e6e5e5 1px solid; BORDER-BOTTOM: #e6e5e5 1px solid
}
DIV.bulletindex {
	MARGIN: 0px 0px 0px 1px; WIDTH: 232px
}
.rhndescindex {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 10px; WIDTH: 217px; PADDING-TOP: 4px
}
.rhntitlehome {
	FONT-WEIGHT: bold; MARGIN: 6px 0px 10px 6px
}
TABLE.maincont {
	
}
.gutter {
	
}
TD.toptabs {
	
}
.bannerright {
	
}
.teaser {
	
}
.teaser A {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; TEXT-DECORATION: none
}
.teasertext A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
IMG.back {
	MARGIN: 3px 5px 2px
}
IMG.next {
	MARGIN: 3px 5px 2px
}
TD.nextleft {
	
}
TD.nextright {
	
}
TD.summary IMG {
	BORDER-RIGHT: 5px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 5px solid; BORDER-BOTTOM: 1px solid
}
TD.shadowleft {
	
}
TD.shadowright {
	
}
TD.topfrill {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: no-repeat
}
TD.topfrill2 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: no-repeat
}
TD.topfrillhome {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-REPEAT: no-repeat
}
TD.imgleft {
	
}
TD.imgright {
	
}
TD.imgtop {
	
}
TD.imgbott {
	
}
TD.imgbox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 5px
}
TD.imgbox IMG {
	
}
.shortdesc {
	MARGIN-TOP: 5px; FONT-SIZE: 90%; MARGIN-BOTTOM: 5px
}
H1 {
	FONT-SIZE: 180%; MARGIN: 0px 0px 0px 10px
}
H1.popup {
	FONT-SIZE: 120%; FLOAT: right; MARGIN: 0px 1px 0px 0px; PADDING-TOP: 7px
}
IMG.popup {
	FLOAT: left; MARGIN: 3px 0px 16px 1px
}
H2 {
	FONT-SIZE: 120%
}
LI {
	CLEAR: both
}
UL {
	MARGIN-LEFT: 22px
}
.crumbtrail {
	MARGIN-TOP: 11px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 13px
}
A.ph {
	FONT-WEIGHT: bold
}
A.ph:link {
	TEXT-DECORATION: underline
}
A.ph:visited {
	TEXT-DECORATION: underline
}
A.ph:active {
	TEXT-DECORATION: underline
}
A.ph:hover {
	TEXT-DECORATION: underline
}
.furthertitle {
	PADDING-LEFT: 7px
}
IMG.closebutt {
	MARGIN-TOP: 7px; FLOAT: right; MARGIN-BOTTOM: 6px
}
.furtherlinks {
	PADDING-RIGHT: 13px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 13px
}
.inlinequote {
	FLOAT: right; MARGIN: 15px 0px 15px 15px
}
.quotecaption {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 8px
}
.blockquote {
	
}
.quotetext {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.quotesource {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 11px; PADDING-TOP: 2px
}
.quotestart {
	MARGIN-RIGHT: 8px
}
.quoteend {
	MARGIN-LEFT: 8px
}
.highlights {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.highlight {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.contents {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
P.launcher1 {
	MARGIN-TOP: 1px
}
.monsters IMG {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.disclaimer {
	MARGIN-TOP: 10px; FONT-SIZE: 90%; MARGIN-BOTTOM: 10px
}
.captiontext {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 8px
}
.copycont TD {
	PADDING-BOTTOM: 0px
}
